html {
  scroll-behavior: smooth;
}


.navbar-brand {
  font-size: 25px !important;
}

.my-navbar {
  background-color: #333;
}

.my-navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.my-navbar a:hover {
  font-size: 20px;
  color: white;
}


.dropdown-menu {
  background-color: rgb(61, 61, 61) !important;
  border: none !important;
  padding: 0px !important;
}


.dropdown-item:hover {
  background-color: #f2f2f2 !important;
  color: #333 !important;
}

.collapse {
  display: block !important;
}


footer {
  background-color: #333;
  padding: 10px
}

.copyright-footer {
  color: #f2f2f2;
  padding-top: 10px;
  text-align: center;
}

.pagename {
  padding: 10px 10px 10px 10px;
}

.blogpost-text {
  text-align: center;
  margin-top: 30px;
}


.cards {
  display: flex;
  gap: 10px 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3vh;
  margin-top: 3vh;
}


.card {
  box-shadow: 5px 5px rgb(233, 233, 233);
  margin-bottom: 1vh;
}

.navbot {
  text-align: center;
  color: #f2f2f2;
  margin: 2vh;
}

@media screen and (max-width: 480px) {
  .navbot {
    float: none;
    display: block;
    text-align: left;
  }
}

.btn-card {
  background-color: #2cb6af;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  color: white;
  padding: 10px 30px;
  box-shadow: 0 5px 0 #259791;
}

.btn-card:hover {
  color: white;
  box-shadow: none;
  transform: translateY(5px)
}

.btn-card,
.btn-card:active,
.btn-card:focus {
  outline: none;
}

.navbot:hover {
  color: #b4b4b4;
}


.fördelar-sektion {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  border-radius: 30px;
  border: 1px solid rgb(179, 179, 179);
  padding: 10px;
  width: 90%;
  height: 90%;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

@media (max-width: 580px) {
  .fördelar-sektion {
    border: none;
    display: block;
  }
}


.fruktkons-text {
  margin-top: 2vh;
  text-align: center;
}

.news-container {
  display: grid;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px;
  padding: 10px;
}

.main-story {
  grid-row: 1 / span 2;
  position: relative;
}

.main-story-img {
  border-radius: 50px;
}

.main-story-img:hover {
  border: solid #333;
}

.latest-news {
  width: 400px;
  background-color: #333;
  grid-row: 1 / span 2;
  border-radius: 20px;
}

.latest-news-head {
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}

.latest-news-container {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 150px 150px 150px;

}

.article-1 {
  position: relative;
  grid-column: 1;
  grid-row: 1;
}

.article-2 {
  position: relative;
  grid-column: 1;
  grid-row: 2;
}

.article-3 {
  position: relative;
  grid-column: 1;
  grid-row: 3;
}

.article-pic {
  margin-top: 20px;
  margin-right: 10px;
  position: absolute;
  right: 10px;
}

.article-text {
  color: white;
  font-size: 20px;
  max-width: 220px;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.article-posted-text {
  position: absolute;
  color: rgba(255, 255, 255, 0.671);
  margin-left: 20px;
  margin-top: 90px;
}

.line {
  margin-left: auto;
  margin-right: auto;
  background: #2cb6af;
  height: 1px;
  width: 350px;
}

.main-article-text {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: white;
  font-size: 3rem;
}


.main-article-globalnews {
  height: 20px;
  width: 150px;
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 5px;
  text-align: center;
  bottom: 80px;
  left: 16px;
}

@media (max-width: 1670px) {
  .news-container {
    display: block;
  }

  .latest-news {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    justify-content: center;
  }
}

@media (max-width: 1250px) {
  .main-story {
    display: block;
    position: none;
  }

  .main-story-img {
    width: 100%;
  }

}

@media (max-width: 920px) {
  .main-article-text {
    font-size: 2rem;
  }
}

@media (max-width: 640px) {
  .main-article-text {
    font-size: 1.5rem;
  }
}