body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ongoing-side {
	font-size: xx-large;
	color: green;
}

.news-title {
	color: green;
	text-align: center;
}

.news-letter{
	color:gray;
	font-size: large;
	text-align: center;
}

a.footer:link{
	color:gray;
	font-size: large;
}

a.footer:visited{
	color:gray;
	font-size: large;
}

a.footer:hover{
	color:green;
}

.drop-down-menu-style{
	padding:1vw;
}