.shopping-icon {
	width: 8%;
	height: auto;
}

.logo {
	width: 80%;
}

.checkicon {
	width: 30px;
}

.whyfruit {
	background-image: url(../../material/orange.jpg);
}

.news {
	background-image: url(../../material/garden.jpg)
}

.mouse-on-action:hover {
	box-sizing: border-box;
	border: 3px solid green;
}