.flex-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paket-section {
  padding: 30px;
  text-align: center;
}

button {
  font-weight: bold;
}

.margin-top {
  margin-top: 20px;
}

.card {
  width: 24%;
}

.two-column-container {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-column-element {
  width: 50%;
}

.first-header-container {
  display: flex;
}

.logo-container {
  width: 30%;
}

.shoppingcart-kassa-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: right;
}

.shoppingcart-container {
  width: 50%;
}

.display-inline {
  display: inline;
}

.footer-section {
  background-color: white;
}

.report-news {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ongoing-side {
  position: fixed;
  bottom: 50%;
  left: 20%;
}

.in-middle {
  text-align: center;
}

.big-hidden {
  display: none;
}

#drop-down-menu {
  display: none;
}

#drop-down-menu-body {
  display: none;
  position: absolute;
  margin-top: 0px;
  background-color: rgb(58, 116, 58);
  margin-left: 0px;
  z-index: 99;
}

@media screen and (max-width: 912px) {
  .flex-row-container {
    display: flex;
    flex-direction: column;
  }
  .two-column-container {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .two-column-element {
    width: 100%;
  }
  .report-news {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .small-hidden {
    display: none;
  }
  .search-header {
    width: 100%;
    padding-bottom: 0.5vw;
    background-color: green;
  }
  .horizontal-menu {
    display: none;
  }
  .small-center {
    text-align: center;
  }
  .logo {
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 100%;
  }
  .small-screen-shopping-icon {
    width: 35px;
    position: relative;
    border: 3px solid;
    border-color: black;
  }
  .big-hidden {
    display: block;
  }
  #drop-down-menu {
    display: block;
  }
  .drop-down-menu-basket-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 913px) and (max-width: 991px) {
  .small-medium-hidden {
    display: none;
  }
  .small-center {
    text-align: center;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .medium-hidden {
    display: none;
  }
}
.shopping-icon {
  width: 8%;
  height: auto;
}

.logo {
  width: 80%;
}

.checkicon {
  width: 30px;
}

.whyfruit {
  background-image: url(../../material/orange.jpg);
}

.news {
  background-image: url(../../material/garden.jpg);
}

.mouse-on-action:hover {
  box-sizing: border-box;
  border: 3px solid green;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ongoing-side {
  font-size: xx-large;
  color: green;
}

.news-title {
  color: green;
  text-align: center;
}

.news-letter {
  color: gray;
  font-size: large;
  text-align: center;
}

a.footer:link {
  color: gray;
  font-size: large;
}

a.footer:visited {
  color: gray;
  font-size: large;
}

a.footer:hover {
  color: green;
}

.drop-down-menu-style {
  padding: 1vw;
}

.email-hidden {
  width: 1px;
  margin: -1px;
  overflow: hidden;
}

.news-input {
  box-sizing: border-box;
  height: 50px;
  background-color: rgb(241, 239, 239);
  border-color: rgb(221, 220, 220);
}

.send-button {
  height: 50px;
  background-color: black;
  color: white;
}

li.menu-li a {
  display: block;
  color: white;
  text-decoration: none;
  padding-left: 1vw;
  padding-right: 1vw;
}

li.menu-li a:hover {
  background-color: white;
  color: green;
  font-weight: bold;
}

.drop-down-menu-style a {
  text-decoration: none;
  color: white;
  padding: 1vw;
  font-size: large;
}

.drop-down-menu-style a:hover {
  background-color: white;
  color: green;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */